<!DOCTYPE html>
<head>

  <title>{% block title %} TITLE HERE {% endblock %}</title>

  <link href="../static/styles/styles.css" type="text/css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


</head>

<body>
{% for message in get_flashed_messages() %}
    <span >{{ message }}</span>
{% endfor %}
    <span style="display: none;" id="user-id" value={{ session['user_id'] }} />

    <div id='root'></app>
  <script src="../static/build/bundle.js"></script>

</body>
</html>