<!DOCTYPE html>
<head>

  <title>{% block title %} TITLE HERE {% endblock %}</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/styles.css" type="text/css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


</head>

<body>

{% block content %} CONTENT HERE {% endblock %}

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>