{% extends 'base.html' %}

{% block title %} LANDING PAGE {% endblock %}

{% block content %}

  <div class="topnav" id="landing-nav">
    <a href="/about">About</a>
    <a href="{{ oauthurl }}" id="login-link">Log In</a>
  </div>


  <div class="landing-contents">
    <h1 class="giant-header">Keep your friends closer<h1>
    <p class="subheader">About section where all the explainy things about the app will be explained in a very explanatory way so you hopefully want to actually press this button and get started with Gmail yay!</p>

    <a href={{ oauthurl }}>
      <div 
        class="google-login-btn" 
        id="get-started" 
        type="button">
        Sign In with Google
      </div>
    </a>


  </div>



<script src="http://code.jquery.com/jquery.js"></script>
<script>

// write redirectToAuth to redirect to gmail authorization page

$('#get-started').on('click', redirectToAuth)
$('#login-link').on('click', redirectToAuth)




{% endblock %}