
/* external div for contacts container */
.contacts-view {
    margin: 0 16px;
}

.contacts-table {
    margin: 48px;
    width: 896px;
}

.contacts-list {
    margin: 0 48px;
}

.contacts-list-header {
    background-color: #292929;
    color: #ffffff;
    width: 896px;
}

.header-item {
    display: inline-block;
    width: 240px;
    line-height: 40px;
}

.contact-list-item .field {
    display: inline-block;
    width: 240px;
    line-height: 40px;
}

.email {
    width: 416;
}