

/*.nav-pages-list {
}*/

.page-name {
  color: white;
  padding: 0 0 0 32px;
}

.link-list {   
  margin: 64px 0 0 0;
  font-size: 24px;
  line-height: 48px;
/*    padding: 8px;*/
  font-weight: 200;
}

.nav-pages-list li {
  background: #292929;
  transition: background 0.3s ease;
}

.nav-pages-list li:hover {
  background: #353535;
  cursor: pointer;
}

/* selected list item */
/*.left-nav li.selected {*/
.nav-pages-list li.selected {
  font-weight: 400;
  background: rgba(144, 206, 183, 0.6);

}

.logout-btn {
  color: white;
  position: absolute;
  bottom: 0;
  padding-left: 32px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  bottom: 0;
  text-decoration: none;
  width: 240px;
  height: 48px;
  border-top: 1px solid #90ceb7;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: #353535;
}