@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* ACCOUNT HOMEPAGE STYLING */
.account-home {
    display: flex;
}

.left-nav {
    background-color: black;
    flex-flow: row;
    width: 200px;
    height: 100vh;
    flex: 0 0 auto;
}

.right-contents {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    height: 100vh; /* view port height - % of browser window */
}





/* LANDING PAGE STYLING */

/* top navigation bar */
.topnav {
    background-color: rgba(0, 0, 255, .8);
    overflow: hidden;
    color: white;
}

.topnav a {
    color: white;
    padding: 2em;
    float: right;
}

/* landing page navigation bar */
#landing-nav {
    height: 4em;
    width: 100%;
}

/* landing page contents */
.landing-contents {
    text-align: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

/* main header on landing page */
.giant-header {
    font-size: 4em;
    margin: 0px;

}

/* sub-header on landing page */
.subheader {
    font-size: 0.75em;
    margin: 10px;
}

/* login button for google oauth on landing page */
.google-login-btn {
    background: rgba(255, 0, 0, 1.0);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 0.5em;
    width: 240px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.google-login-btn:hover {
    background: rgba(255, 0, 0, 0.8);
}

