

.msgs-display {
    margin: 0 16px;
    margin-top: 48px;
}

.msg-list-item {
    line-height: 40px;
}

.msg-field {
    display: inline-block;
    padding: 8px;
}

.msg_id {
    width: 32px;
}

.created-by {
    width: 120px;
}

.msg-text {
    width: 744px;
}


/*.msg-table {

}*/

/*.msg-list {

}*/

.msg-list-header{
    background-color: #292929;
    color: white;
}

/*.msg-header-item {

}*/

.btn {
    color: white;
    margin-right: 32px;
    border: white solid 1px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

/* , means all of either */
.btn-save, .btn-cancel { 
    color: black;
    border: black solid 1px;
}

.btn-container {
    text-align: right;
    height: 40px;
    background-color: #eaeaea;
}


