

/* logged in topnav */
.user-topnav {
    padding-left: 20%;
    height: 10%;
}

/* greeting in logged in topnav */
.user-greeting {

}

/* account homepage styling */
.account-contents {
    text-align: left;
    padding: 20px;
    padding-left: 22%;
}

/* side navigation */
.left-nav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

.nav-pages-list {
    padding-top: 12%;
    padding-left: 2em;
    color: white;
    font-size: 1.5em;
}


/* default button styling */
.default-btn {
    background: white;
    border: 2px solid red;
    border-radius: 3px;
    color: black;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.default-btn:hover {
    background: rgba(255, 0, 0, 0.8);
}

/* form inputs */
.form-input {
    padding: 10px;
}
